services:
  postgres:
    image: postgres:15
    container_name: medical_postgres
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
    container_name: medical_app
    env_file:
      - ./.env
    volumes:
      - .:/app
      - ./.dbt:/root/.dbt
    depends_on:
      - postgres
    command: tail -f /dev/null

volumes:
  postgres_data:
